<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>紫阳社区</title>
    <head th:insert="~{import :: head}"></head>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
test
<div class="media" th:each="question : ${questions}">
    <!--<div class="media" th:each="question dfs: ${questions}">-->
    <div class="media-left">
        <a href="#">
            <img class="media-object img-rounded"
                 th:src="${question.user.avatarUrl}" width=40px height=40px >
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
        </h4>
        <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                th:text="${question.viewCount}"></span> 次浏览 • <span
                th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
    </div>
</div>
</body>
</html>